.cat-container {
  color: #9b9b9b;
  display: inline-block;
  width: 100%;
  p {
    display: inline-block;
    margin-right: 35px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
  }
}