// Sizes
$size-sm: 768px;
$size-md: 992px;
$size-lg: 1200px;
$size-xl: 1920px;

$text-purple-color: #7929a6;

$gray_text: #b9b8b9;

$light_gray: #f6f6f6;
$dark_gray: #a5a5a5;
$gray: #a7a7a7;
$color-subtitle: #9b9b9b;
