@import './_variables.scss';

@import './header.scss';
@import './searchbar.scss';
@import './dialog.scss';
@import './logincard.scss';
@import './notifications.scss';
@import './datepicker.scss';
@import './messages.scss';
@import './element-restyle.scss';
@import './become-host.scss';

body {
  margin: 0px;
  font-family: colosseum, sans-serif;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.el-container {
  min-height: 100vh;
  max-height: 100vh;
}

.pointer {
  cursor: pointer;
}

.text-purple {
  color: $color-purple;
}

.text-bold {
  font-weight: bold;
}

.button-purple {
  border-color: #d1b7df !important;
}

.button-purple {
  color: $color-purple !important;
}

.button-purple:hover {
  border-color: #b69dc4 !important;
}

.clearfix {
  overflow: auto;
}

// Disable a-tag underline
a:link, a:visited {
  text-decoration: none;
}

.right {
  float: right;
}

.purple-check {
  background-color: $color-purple;
  color: white;
  padding: 5px 15px;
  font-size: 0.95rem;
  border-radius: 20px;
}