.datepicker {
  width: 100%;
  text-align: center;
  border-spacing: 20px;

  &-title {
    font-weight: bold;
    color: #9b9b9b;
  }

  &-col {
    &-right {
      float: right;
    }

    &-left {
      float: left;
    }
  }
}