.el-dialog {
  width: 100% !important;

  @media (min-width: $size-md) {
    width: 80% !important;
  }

  @media (min-width: $size-lg) {
    width: 60% !important;
  }

  @media (min-width: $size-xl) {
    width: 40% !important;
  }
}

.el-dialog__footer {
  border-top: 1px solid #e1e0e1;
}

.dialog {
  &-title {
    text-align: center;
    font-size: 3em;
    color: $gray-text;
  }

  &-title-row {
    margin-bottom: 20px;
  }

  &-title-left {
    text-align: left;
    font-size: 2.5em;
    color: $gray-text;
  }

  &-title-small {
    color: $gray-text;
    font-weight: bold;
    font-size: 1.1em;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &-subtitle {
    text-align: center;
    font-size: 2.3em;
    margin: 25px 0;
    color: $gray-text;
  }

  &-footer {
    padding: 40px;

    &-text {
      font-size: 1.5em;
      font-weight: bold;
      color: $gray-text;
    }
  }

  &-form {
    &-right {
      float: right;
    }

    &-button {
      width: 160px;
    }

    &-text {
      font-size: 1.2em;
      margin-right: 20px;
    }

    &-information {
      margin-top: 35px;

      &-title {
        color: $gray-text;
        font-size: 1.4em;
        font-weight: bold;
      }

      &-subtitle {
        margin: 5px 0;
        color: $gray-text;
      }
    }
  }

  &-secondary-text {
    color: $text-purple-color;
    text-decoration: none;
  }
}

.el-input__icon {
  padding: 0 5px;
}

.el-checkbox__label {
  font-size: 1.2em !important;
  color: $gray-text;
  font-weight: bold;
}
