.ep {
  &-row {
    margin: 10px 0;
  }

  &-title {
    font-size: 1.6rem;
    font-weight: bold;
  }

  &-subtitle {
    color: #A4A4A4;
  }

  &-image {
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px;
  }
}