.ep {

  p {
    color: $color-subtitle;
  }

  &-row {
    margin: 10px 0;
  }

  &-title {
    font-size: 1.6rem;
    font-weight: bold;
  }

  &-input-title {
    font-weight: bold;
    color: $color-subtitle;
    font-size: 1.2rem;
    line-height: 40px;
  }

  &-subtitle {
    color: #A4A4A4;
  }

  &-image {
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px;
    background-color: #F5F4F4;
    
    > img {
      border-radius: 50%;
      backface-visibility: hidden;
    }
  }
}