// Checkbox

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: $color-purple !important;
  border-color: $color-purple !important;
  border-radius: 50%;
}

.el-checkbox__label {
  color: #9B9B9B !important;
  font-size: 0.9rem !important;
}

.el-checkbox__inner {
  width: 20px !important;
  height: 20px !important;
  border-width: 4px !important;
  border-radius: 50% !important;
}

.el-checkbox__inner:hover {
  border-color: $color-purple !important;
}

// Text input
.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: $color-purple !important;
}
.rewrite-rate {
  .el-rate__icon {
    font-size: 9px;
    margin-right: 2px;
  }

  .el-rate__text {
    color: #838383;
    margin-left: 3px;
  }
}

// Radio
.el-radio__input.is-checked .el-radio__inner, .el-radio__input.is-indeterminate .el-radio__inner {
  background-color: $color-purple !important;
  border-color: $color-purple !important;
  border-radius: 50%;
}

.el-radio__label {
  color: #9B9B9B !important;
  font-size: 0.9rem !important;
}

.el-radio__inner {
  width: 20px !important;
  height: 20px !important;
  border-width: 4px !important;
  border-radius: 50% !important;
}