.header {
  height: 65px;
  border-bottom: 1px solid lightgray;
  padding: 0 49px 0 49px;

  &-title {
    text-transform: uppercase;
    color: $color-purple;
    font-size: 1.53em;
    font-weight: 500;
    display: inline-block;
    margin-top: 17px;
  }

  &-right {
    height: 100%;
    float: right;
  }

  &-item {
    display: inline-block;
    margin-right: 26px !important;
  }

  &-divider {
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 60%;
    margin: 0 20px 6px 0;
    background-color: lightgray;
  }
  
  &-popup {
    margin: 30px 45px 0 0 !important;
    padding-bottom: 0 !important;
  }
  
  &-profile-list {
    list-style-type: none;
    padding-left: 16px;
  }
  
  &-profile-badge {
    padding: 0 10px;
    border-radius: 35%;
    background-color: $color-purple;
    color: white;
    float: right;
    vertical-align: middle;
    font-size: 0.85em;
  }
  
  &-profile-item {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}

li.header-profile-item > a:link, li.header-profile-item > a:visited {
  text-decoration: none;
  color: inherit;
}

.title-bold {
  font-weight: 700;
}

.item-purple > .item-text {
  color: $color-purple;
}

.item-text {
  margin: 21px 26px 0 0;
  color: #9B9B9B;
  font-size: 1.05em;
  text-decoration: none;
}

.item-img {
  vertical-align: middle;
  border-radius: 50%;
  margin: 0 7px 6px 2px;
}

.item-button {
  margin-bottom: 5px !important;
  vertical-align: middle;
}

.popover-item {
  margin-right: 13px;
  font-size: 1.14em;
  color: gray;
}

.comments-button {
  padding: 20px 8px 20px 0;
  float: right;
}

.dot-badge > .el-badge__content {
  background-color: $color-purple;
}