.card {
  margin: 15px auto;
  width: 265px;
  height: 80px;
  background-repeat: no-repeat;

  @media (min-width: $size-md) {
    margin: auto;
  }

  &:hover {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5) !important;
  }

  &-facebook {
    background-image: url(https://cdn.worldvectorlogo.com/logos/facebook-2.svg);
    background-size: 20%;
    background-position-x: 10%;
    background-position-y: -35%;
  }

  &-google {
    background-image: url(http://diylogodesigns.com/blog/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background.png);
    background-size: 35%;
    background-position-x: -8%;
    background-position-y: -35%;
  }

  &-email {
    background-image: url(/assets/img/email.png);
    background-size: 45%;
    background-position-x: 0%;
    background-position-y: -20%;
  }

  &-text {
    font-size: 1.3em;
    position: relative;
    left: 100px;
    width: 50%;
    cursor: default;

    &-facebook {
      color: #3c5a9a;
    }

    &-google {
      color: #9b9b9b;
    }
  }
}