.notification {
  margin: 25px 15px 0 20px;

  &-image {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  &-text {
    color: gray;
  }
  
  &-title {
    float: left;
    color: black;
    font-size: 1.15em;
  }
  
  &-date {
    float: right;
    color: gray;
    font-size: 0.9em;
  }

  &-button {
    margin-left: 20px;
  }

  &-buttons {
    margin: 15px 0;
  }

  &-positive {
    color: #5faf06;
  }

  &-negative {
    color: #ff7d8d;
  }

  &-neutral {
    color: #ffed8d
  }

  &-pagination {
    margin: 20px 0 60px 0;
    text-align: center;

    .el-pagination.is-background .btn-next,
    .el-pagination.is-background .btn-prev,
    .el-pagination.is-background .el-pager li {
      border-radius: 50% !important;
      background-color: #cdcccd;
      color: white;
    }

    .el-pagination button, .el-pagination span:not([class*=suffix]) {
      height: 40px;
      width: 40px;
      font-size: 22px;
      line-height: 40px;
    }

    .el-pagination .btn-next .el-icon, .el-pagination .btn-prev .el-icon {
      font-size: 20px;
    }

    .el-pagination.is-background .el-pager li:not(.disabled):hover {
      color: $text-purple-color;
    }

    .el-pager .more::before {
      line-height: 40px !important;
    }

    .el-pager li {
      height: 40px;
      width: 40px;
      font-size: 22px;
      line-height: 40px;
    }

    .el-pagination.is-background .el-pager li:not(.disabled).active {
      background-color: #7030a0;
    }
  }
}

// Notifications full page
.notif {
  padding-top: 50px;

  &-title {
    font-size: 2rem;
    padding-bottom: 20px;
  }

  &-bar {
    line-height: 30px;

    > span {
      margin-right: 13px;
      font-size: 1.14em;
      color: gray;
    }

    > span.active {
      color: $text-purple-color;
    }
  }

  &-line {
    padding: 15px 0;
    border-bottom: 1px solid #f0eff0;
    margin-bottom: 40px;
  }

  &-button {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}
