$light_gray: #f6f6f6;
$dark_gray: #a5a5a5;

.searchbar {
  height: 55px;
  border-bottom: 1px solid lightgray;

  &-input {
    margin-left: 45px;
  }

  &-input input {
    margin-left: 0;
    border: 0px;
  }

  &-divider {
    width: 2px;
  }

  &-button {
    margin-left: 10px !important;
    background-color: $light_gray !important;
    border-color: $light_gray !important;
    
    &-text {
      color: $dark_gray;
      font-weight: bold;
    }
  }
}