.searchbar {
  height: 55px;
  border-bottom: 1px solid lightgray;

  &-input {
    margin-left: 45px;
  }

  &-input input {
    margin-left: 0;
    border: 0px;
  }

  &-divider {
    width: 2px;
  }

  &-button {
    margin-left: 10px !important;
    background-color: $light_gray !important;
    border-color: $light_gray !important;
    
    &-text {
      color: $dark_gray;
      font-weight: bold;
    }
  }

  &-date {
    &-title {
      font-weight: bold;
      padding: 20px;
      padding-left: 10px;
      font-size: 1.2rem;
    }
  }

  &-right {
    text-align: right;
    margin: 30px;
    margin-left: 0;
  }

  &-timeline {
    margin-left: 10px;
  }

  &-time {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;

    &-hours {
      color: $gray;
      font-size: 1rem;
    }
  }

  &-guests {
    &-title {
      font-size: 1.5rem;
      text-align: center;
    }

    &-subtitle {
      font-size: 0.9rem;
      text-align: center;
      color: #a0a0a0;
    }
  }

  &-price {
    &-title {
      font-weight:  bold;
      font-size:  1.5rem;
      padding:  20px 0 0 20px;
    }

    &-subtitle {
      font-size:  0.8rem;
      padding-left: 20px;
      color: $color-subtitle;
    }

    &-input {
      padding: 20px 20px 0 20px;
    }
  }

  &-book {
    padding-top: 15px;

    &-title {
      font-size: 2rem;
    }

    &-subtitle {
      color: $color-subtitle;
    }

    &-switch {
      padding: 10px 0 0 20px;
    }

    &-button {
      color: white !important;
      background: #d91fbf !important;
      background: -moz-linear-gradient(left, #d91fbf 0%, #ca65d5 100%) !important;
      background: -webkit-linear-gradient(left, #d91fbf 0%,#ca65d5 100%) !important;
      background: linear-gradient(to right, #d91fbf 0%,#ca65d5 100%) !important;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d91fbf', endColorstr='#ca65d5',GradientType=1 ) !important;

      &-active {
        color: white !important;
        background-color: #4cddbc !important;
      }
    }
  }

  &-button-purple {
    color: white !important;
    background-color: #9013fe !important;
  }

  &-input {
    &-number {
      padding-top: 10px;
  
      .el-input-number__decrease {
        border-radius: 0 !important;
        border-width: 0px !important;
      }
  
      .el-input-number__increase {
        border-radius: 0 !important;
        border-width: 0px !important;
      }
  
      .el-input-number__decrease, .el-input-number__increase {
        background-color: white !important;
        font-size: 2rem;
        color: $text-purple-color;
      }
  
      .el-input__inner {
        font-size: 2rem;
      }
  
      .el-input > input {
        border-width: 0px;
      }
    }
  
    &-checkbox {
      .el-checkbox__input.is-checked+.el-checkbox__label {
        color: #4a4a4a;
      }

      .el-checkbox__label {
        color: #4a4a4a;
      }

      .el-checkbox__inner {
        border-radius: 50%;
        background-color: #ebebeb;
        width: 28px;
        height: 28px;
      }

      .el-checkbox__inner::after {
        height: 13px;
        left: 8px;
        top: 3px;
        width: 8px;
      }

      .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
        background-color: $text-purple-color;
        border-color: $text-purple-color;
        border-radius: 50%;
      }
    }
  }
}

.el-slider__bar {
  background-color: $text-purple-color !important;
  height: 10px !important;
}

.el-slider__button {
  width: 32px !important;
  height: 32px !important;
  border-width: 1px !important;
  border-color: $text-purple-color !important;
}

.el-slider__runway {
  height: 10px !important;
  border-radius: 6px !important;
}