.exp-small-card-container {
  max-width: 240px;
  .exp-image {
    height: 160px;
  }
  .exp-content {
    .exp-category-container {
      h5 {
        display: inline-block;
        margin: 17px 0 10px 0;
        &:first-child {
          color: #9F9F9F;
        }
        &:last-child {
          color: #F5A623;
        }
      }
    }
    .exp-title {
      h4 {
        color: #525252;
        margin: 0;
      }
    }
    .exp-price-rate-container {
      .exp-price-container {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}