// Sizes
$size-sm: 768px;
$size-md: 992px;
$size-lg: 1200px;
$size-xl: 1920px;

$text-purple-color: #7929a6;

@import './header.scss';
@import './dialog.scss';
@import './logincard.scss';

body {
  margin: 0px;
  font-family: colosseum, sans-serif;
}

.w100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.text-purple {
  color: $text-purple-color;
}

.text-bold {
  font-weight: bold;
}

.button-purple {
  border-color: #d1b7df !important;
}

.button-purple:hover {
  border-color: #b69dc4 !important;
}