.card {
  margin: auto;
  width: 265px;
  height: 80px;
  background-repeat: no-repeat;

  &-facebook {
    background-image: url(https://cdn.worldvectorlogo.com/logos/facebook-2.svg);
    background-size: 20%;
    background-position-x: 10%;
    background-position-y: -35%;
  }

  &-google {
    background-image: url(http://diylogodesigns.com/blog/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background.png);
    background-size: 35%;
    background-position-x: -8%;
    background-position-y: -35%;
  }

  &-text {
    font-size: 1.3em;
    position: relative;
    left: 100px;
    width: 50%;

    &-facebook {
      color: #3c5a9a;
    }

    &-google {
      color: #9b9b9b;
    }
  }
}