.large-card-experience-container {
  width: 540px;
  height: 580px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  margin-left: 40px;
  text-align: center;
  .exp-image {
    width: 100%;
    height: 340px
  }
  .exp-content {
    width: 90%;
    display: inline-block;
    text-align: left;
    border-bottom: 2px solid #f0eff0;
    padding-bottom: 20px;
    .exp-circle {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #D8D8D8;
      vertical-align: middle;
      margin: 0 5px 0 5px;
    }
    .exp-category-container {
      margin: 25px 0 15px 0;
      h4, div {
        display: inline-block;
        margin-bottom: 0;
      }
      h4 {
        margin: 0;
        &:first-child {
          color: #9F9F9F;
        }
        &:last-child {
          color: #F5A623;
        }
      }
    }
    .exp-title {
      h2 {
        color: #525252;
        margin: 0;
      }
    }
    .exp-price-rate-container {
      display: inline-block;
      width: 100%;
      margin-top: 15px;
      .exp-price-container {
        margin-right: 20px;
        display: inline-block;
        h5, div {
          display: inline-block;
        }
        h5 {
          color: #808080;
          margin: 0;
        }
      }
      .exp-rate-container {
        display: inline-block;
      }
    }
  }
}

/*css for date card experience*/
.exp-date-container {
  margin-top: 10px;
  .month {
    color: #bdbcbd;
    font-size: 12px;
    display: inline-block;
  }
  .exp-date-circle {
    display: inline-block;
    margin-left: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #7929a6;
    font-size: 9.5px;
    color: #ffffff;
    text-align: center;
    p {
      margin: 24% 0;
      display: inline-block;
    }
  }
}